google-cloud-bigquery==3.20.1
google-cloud-documentai==2.25.0
google-cloud-storage==2.17.0
langchain-experimental==0.0.59
markdownify==0.11.6
pillow==10.2.0
pillow_heif==0.15.0
pikepdf==8.11.0
pypdf==4.0.1
PyPDF2==3.0.1
python-docx==1.1.0
pyyaml==6.0.1
unstructured==0.12.6
unstructured-client==0.18.0
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
